@use '../abstracts/variables';

footer
{
    margin-bottom: 0;
    position: relative;
    left: 0;
    bottom: 0;
    background-color: variables.$primary-color;
    width: 100%;
    color: variables.$light-color;
    text-align: center;
    min-height: 85px;
}