@use '../abstracts/variables';

body
{
    min-height: 400px;
    clear: both;
}

section
{
    background-color: variables.$light-color;
    margin: 5px 0px;

    div
    {
        padding: 5px;
    }
}